.red1{color:red;}
.orange1{color:orange;}
.byellow{background-color:yellow;}
.center{text-align:center;}
.borange{background-color:orange;}
.orange1{color:orange;}
.blue1{color:blue;}
.green1{color:green;}
.bblue{background-color:blue;}
h3{background-color:orange;}
b{color:blue;}
str{color:orange;font-size:30;font-weight:bold;}
u{color:purple;}
